@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.small-chart .highcharts-subtitle {
  display: none;
}

.small-chart .highcharts-legend {
  display: none;
}

@media (max-width: 740px) {
  .mantine-Modal-modal {
    width: 100%;
  }
  
  .animate-card {
    transition: all 0.8s;
  }
}