@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.small-chart .highcharts-subtitle {
  display: none;
}

.small-chart .highcharts-legend {
  display: none;
}

.section-wrapper .mantine-Modal-header {
  background: #073e52;
  color: #fff;
  font-size: 24px;
  padding: 20px 40px 20px 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.button-section .mantine-Button-root {
  padding-left: 6px;
  padding-right: 6px;
}

.mantine-AppShell-main {
  max-width: 100%;
  /* padding-left: 0;
  padding-right: 0; */
  padding-top: calc(70px + 0px);
}

@media (max-width: 740px) {
  .mantine-Modal-modal {
    width: 100%;
  }

  .animate-card {
    transition: all 0.8s;
  }

  .section-wrapper .mantine-Modal-header {
    background: #073e52;
    color: #fff;
    font-size: 24px;
    padding: 20px 20px 20px 20px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .mantine-AppShell-main {
    padding-left: 0;
    padding-right: 0;
  }
}
